// base font size
@defaultFontSize: 100%;
@mobileFontSize: 120%;

// colors
@primaryColor: #D90429;
@secondaryColor: #274C77;
@tertiaryColor: #8D99AE;
@white: #EDF2F4;
@black: #2B2D42;

// breakpoints
@mobileBreakpoint: 550px;
@tabletBreakpoint: 750px;
