// base font size
@defaultFontSize: 100%;
@mobileFontSize: 120%;

// font sizes
@xxLargeFontSize: 2.5rem;
@xLargeFontSize: 2rem;
@largeFontSize: 1.5rem;
@mediumFontSize: 1rem;
@smallFontSize: .5rem;

// colors
@primaryColor: #2F0147;
@secondaryColor: #BCE7FD;
@tertiaryColor: #B9929F;
@white: #EDF2F4;
@black: #2B2D42;

// breakpoints
@mobileBreakpoint: 550px;
@tabletBreakpoint: 750px;